<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="StylePenjaga.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="navbarContainer">
      <th:block th:include="~{navbarPenjaga.html}" />
    </div>
<!--       
    <picture>
        <source srcset="https://i.pinimg.com/736x/51/33/18/513318388f3aaf2f8bbee415a87c4106.jpg" type="image/svg+xml" >
        <img src="https://i.pinimg.com/736x/51/33/18/513318388f3aaf2f8bbee415a87c4106.jpg" class="object-fit-contain border rounded" class="mx-auto p-2" alt="Deskripsi" style="margin-right: 50;">
      </picture> -->
      </div>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>