<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Penghuni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div id="navbarContainer">
    <th:block th:include="~{navbarPenjaga.html}" />
  </div>
<div class="container mt-5">
    <h2 class="mb-4">Data Penghuni</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Jenis Kelamin</th>
                <th scope="col">Alamat</th>
                <th scope="col">Email</th>
                <th scope="col">Nomor Telepon</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="penyewa, iterStat : ${listCalonPenyewa}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${penyewa.username}"></td>
            <td th:text="${penyewa.jenisKelamin}"></td>
            <td th:text="${penyewa.alamat}"></td>
            <td th:text="${penyewa.email}"></td>
            <td th:text="${penyewa.phoneNumber}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
