<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="StylePenjaga.css">
    <title>AdityaKost</title>
  </head>
  <body>
    <div id="navbarContainer">
      <th:block th:include="~{navbarPenjaga.html}" />
    </div>
      
    <section class="page-section bg-light" id="portfolio">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase"></h2>
          <h3 class="section-subheading text-muted">
            Data kamar yang sudah terisi
          </h3>
        </div>
        <div class="row">
          <!-- Looping untuk menampilkan setiap kamar -->
          <div class="col-lg-4 col-sm-6 mb-4" th:each="kamar : ${listKamar}">
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal1"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <!-- Menampilkan gambar kamar -->
                <img
                  class="img-fluid"
                  th:src="'data:image/jpeg;base64,' + ${gambarMap[kamar.id]}"
                  alt="Gambar Kamar"
                />
              </a>
              <div class="portfolio-caption">
                <!-- Menampilkan tipe kamar -->
                <div class="portfolio-caption-heading" th:text="${kamar.type}">
                  Kamar
                </div>
                <!-- Menampilkan harga kamar -->
                <div
                  class="portfolio-caption-subheading text-muted"
                  th:text="'Harga: Rp' + ${kamar.harga} + '/bulan'"
                >
                  Harga Kamar
                </div>
                <a
                  class="btn btn-primary btn-sm mt-2"
                  th:href="@{'/edit/' + ${kamar.id}}"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>